[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
[dev-packages]
pytest = "*"

[packages]
singer-python = "*"
requests = "*"
sentry-sdk = "*"
jsonnet = "*"
simplejson = "*"
Jinja2 = "*"
dateparser = "*"

[requires]
python_version = "3"
