[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
singer-python = "*"
urllib3 = "*"
requests = "*"
jinja2 = "*"
sentry-sdk = "*"
toolz = "*"

[dev-packages]

[requires]
python_version = "3.9"
